{% extends "base.html" %}
{% load static %}

{%  block css_style %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{%  endblock %}

{%  block page_title %}
        Monthly Challenge
{%  endblock %}

{%  block content %}
    {%  include "challenges/includes/header.html" %}

        <h1>{{month_name | title }}'s Challenge</h1>
    {%  if text == None %}
            <p>There is no challenge yet!</p>

    {%  elif text != None %}
            <p>{{text}}</p>
            {{var|safe|escape}}
    {%  endif %}
{%  endblock %}
