{% extends "base.html" %}

{%  block css_style %}
                    p {
                        font-family: Arial, sans-serif;
                        font-size: 30px;
                        color: #f32b00;
                    }

                    h1 {
                        font-family: Calibri, sans-serif;
                        font-size: 33px;
                        color: #333;
                    }

                    .navigator a{

                        font-size: 25px;
                        display: block;
                        margin-left: 50%;



                    }
{%  endblock %}

{%  block page_title %}
        Monthly Challenge
{%  endblock %}

{%  block content %}
    {%  include "challenges/includes/header.html" %}

        <h1>{{month_name | title }}'s Challenge</h1>
    {%  if text == None %}
            <p>There is no challenge yet!</p>

    {%  elif text != None %}
            <p>{{text}}</p>
            {{var|safe|escape}}
    {%  endif %}
{%  endblock %}
