{%  extends 'reviews/base.html' %}



{% block content %}
    <h1>{{ review.username }}</h1>
    <p>{{ review.review }}</p>
    <p>Rating: {{ review.rating }}</p>
    {% if is_favorite %}
         <img src="https://cdn1.vectorstock.com/i/1000x1000/21/75/add-to-favourite-icon-vector-20962175.jpg"
         width="100px">
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <button>Favorite</button>
        </form>

    {% endif %}


{% endblock %}